         /* body */
         .body{
            background-color: #A6282E;
         }
         
         
         /* navbar */
         .navbar{
            background-color:#000000;
         }

        .navbar .nav-link:hover {
            color: #CFA763 !important; /* Contoh: teal */
        }
        
        /* jumbotron */
    
        .jumbotron {
            background-color: #A6282E;
            


        }

 
           
        

        /* about */
        .about{
            color: #F6F1E7;
            background-color: #A6282E;
            padding-top: 20%;
        }
        .about span  {
                color: #CFA763;
            }
        .about .card-body{
            background-color: #CFA763;
            color:#A6282E;
         
        }
        
           
        
        
     
         /* RUte */
        .rute{
             color: #F6F1E7;
             padding-top: 20%;
             background-color: #000000;
        }
        .rute span{
            color: #CFA763;
        }
        .rute a{
            text-decoration:none;
        }
        .rute .tombol-saya1 {
            background-color: #CFA763; /* Warna awal */
            color: #000000;
            padding: 10px 40px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            
            /* Properti untuk transisi yang mulus */
            transition: background-color 0.3s ease;
            }

            /* Gaya saat kursor diarahkan ke tombol */
         .rute .tombol-saya1:hover {
            background-color: #ffffff; /* Warna baru saat di-hover */
            color: #CFA763;
            }
        /* pesan */
        .reservasi{
             color: #F6F1E7;
            padding-top: 20%;
            background-color: #A6282E;
        }
        .reservasi span{
            color: #CFA763;
        }
         .reservasi .btn-2sss:hover {
           color: #CFA763 !important; /* Contoh: teal */
            
        }
        .reservasi .tombol-saya {
            background-color: #CFA763; /* Warna awal */
            color: #000000;
            padding: 10px 60px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            /* Properti untuk transisi yang mulus */
            transition: background-color 0.3s ease;
            }

            /* Gaya saat kursor diarahkan ke tombol */
         .reservasi .tombol-saya:hover {
            background-color: #000000; /* Warna baru saat di-hover */
            color: #F6F1E7;
            }
     
       
        

        /* armda */
        .armada{
             color: #F6F1E7;
             padding-top: 20%;
             padding-bottom: 10%;
            background-color: #A6282E;
        }
        .armada span{
            color: #CFA763;
        }
        .armada .tombol-saya2 {
            background-color: #CFA763; /* Warna awal */
            color: #000000;
            padding: 10px 40px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            
            /* Properti untuk transisi yang mulus */
            transition: background-color 0.3s ease;
            }

            /* Gaya saat kursor diarahkan ke tombol */
         .armada .tombol-saya2:hover {
            background-color: #ffffff; /* Warna baru saat di-hover */
            color: #CFA763;
            }
        .armada a{
            text-decoration:none;
        }
       
        /* kontak */
        .kontak{
             color: #F6F1E7;
             padding-top: 5%;
            background-color: #000000;
       

        }
        .kontak span{
         color: #CFA763;
        }
       
        /* footer */
        .footer span{

            color:#CFA763;
            
        }
        .footer{
             color: #F6F1E7;
            padding-bottom:  5%;
            background-color: #000000;
        }

        .elemen-gradien {
         background-image: linear-gradient(to bottom, #A6282E 25%, #000000 50%);
         
        }
         .elemen-gradien2 {
         background-image: linear-gradient(to top, #A6282E 25%, #000000 50%);
         
        }

       /*--------------------------------------------------------------
